# Ignore environment variables
.env
.env.local
.env.*.local

# Ignore node_modules and build
node_modules/
dist/
build/

# class based components
/src/components_Class/

# Vite or CRA specific
.vite/
*.log
.DS_Store
